{% extends 'admin/admin_base.html' %}

{% block title %}
Edit Product
{% endblock %}

{% block css %}

{% endblock %}

{% block body %}

<div class="container-fluid flex-wrap">
{% if messages %}
    <div>
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
            <span><strong>Message: {{ message }}</strong><br></span></div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <span><strong>Important: {{ message }}</strong><br></span></div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
<div class="container-fluid text-center">
    <h3 class="text-dark mb-2">Profile</h3>
    <div class="row justify-content-center mb-2">
        <div class="col-lg-8">
            <div class="row">
                <div class="col text-left text-dark">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <button class="btn btn-primary my2" onclick="window.history.back()">Back</button>
                            <p class="text-primary m-0 font-weight-bold">Product Details</p>
                        </div>
                        <div class="card-body">
                            <form class="text-left text-dark" method="post" action="#">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label for="name"><strong>
                                            Name</strong></label>{{ form.name }}</div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group"><label for="price"><strong>
                                            Price</strong></label>{{ form.price }}</div>
                                    </div>
                                </div>
                                <div class="form-row" style="margin-top: 10px;">
                                    <div class="col">
                                        <div class="form-group">
                                    <button class="btn btn-primary" type="submit" style="margin-top: 20px;">Edit
                                        Details
                                    </button>
                                </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <a class="btn btn-danger" href="{% url 'admin_delete_product' product_id %}"
                                               style="margin-top: 20px;">Delete Product</a>
                                </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
    {% endblock %}

