{% extends 'admin/admin_base.html' %}

{% block title %}
    Orders
{% endblock %}

{% block css %}

{% endblock %}

{% block body %}
<div class="container flex-wrap">
    {% if messages %}
    <div>
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
            <span><strong>Message: {{ message }}</strong><br></span></div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <span><strong>Important: {{ message }}</strong><br></span></div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h5 class="text-dark mb-0" style="height: 10px;">Welcome, {{ user.first_name }}</h5>
                    </div>
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h2 class="text-dark mb-0">Orders&nbsp;</h2>
                    </div>
                    <div class="container-fluid">
                    <h3 class="text-center text-primary mb-4" style="color: var(--blue);">List Of All Orders&nbsp;</h3>
                    <div class="card shadow">
                        <div class="card-header py-3"><button class="btn btn-primary my2" onclick="window.history.back()">Back</button>
                            <p class="text-primary text-center m-0 font-weight-bold">Orders</p>
                        </div>
                        <div class="card-body">
{#                            <div class="row">#}
{#                                <div class="col-12 col-md-12 text-nowrap text-center">#}
{#                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">#}
{#                                        <form method="get" action="{% url 'admin_dashboard' %}"><label>Show&nbsp;<select class="form-control form-control form-control-sm custom-select custom-select-sm">#}
{#                                                    <option value="10" selected="">10</option>#}
{#                                                    <option value="25">25</option>#}
{#                                                    <option value="50">50</option>#}
{#                                                    <option value="100">100</option>#}
{#                                                </select>#}
{#                                            <button class="btn btn-primary btn-sm" type="submit" style="margin-left: 15px;">Filter</button>&nbsp;</label>#}
{#                                        </form>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                            <div class="table-responsive text-center table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info" style="font-family: Nunito, sans-serif;">
                                <table class="table table-hover my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Ordered By</th>
                                            <th>Product</th>
                                            <th>Status</th>
                                            <th>Edit</th>
                                            <th>Mark Complete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                {% for order in orders %}
                                        <tr>
                                            <td><a href="#">{{ order.customer.username.capitalize }}</a></td>
                                            <td>{{ order.product.name }}</td>
                                            <td>{{ order.status|yesno }}</td>
                                            <td><a class="btn btn-outline-dark" href="{% url 'admin_order_details' order.id %}">Edit</a></td>
                                            <td>
                                                <form action="#" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="orderid" value="{{ order.id }}">
                                                    <input type="submit" class="btn btn-outline-primary" value="Mark Complete"></form></td>
                                        </tr>
                                {% endfor %}
                                    </tbody>
                                </table>
                            </div>
{#                            <div class="row">#}
{#                                <div class="col-12 col-md-12 d-lg-flex justify-content-lg-center align-items-lg-center">#}
{#                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">#}
{#                                        <ul class="pagination">#}
{#                                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>#}
{#                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>#}
{#                                            <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#                                            <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>#}
{#                                        </ul>#}
{#                                    </nav>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
                </div>

{% endblock %}
