<div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 toggled" >
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand text-secondary d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
                    <div class="sidebar-brand-icon rotate-n-15" style="font-size: 20px;"><i class="far fa-keyboard" style="color: var(--white);"></i></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i><span>View Website</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'admin_dashboard' %}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'admin_edit_account' %}"><i class="fas fa-user"></i><span>Your Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'admin_orders' %}"><i class="fas fa-shopping-cart"></i><span>Orders</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'admin_users' %}"><i class="fas fa-users"></i><span>Users</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'admin_products' %}"><i class="fab fa-product-hunt"></i><span>Products</span></a></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="color: var(--danger);background: #f1f1f1;">
                <nav class="navbar navbar-light navbar-expand bg-light shadow mb-4 topbar static-top" style="opacity: 1;">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button><i class="material-icons shadow-lg" style="font-size: 30px;">home</i>
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search mx-auto" action="{% url 'search' %}" method="get" style="margin-right: 30px;">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search" name="search">
                                <div class="input-group-append"><button class="btn btn-primary py-0" type="submit"><i class="fas fa-search"></i></button></div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">{{ user.first_name }}</span><i class="fas fa-user shadow" style="font-size: 31px;font-weight: bold;text-align: center;border-radius: 23px;border-style: none;height: 36px;"></i></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"><a class="dropdown-item" href="{% url 'user_profile' %}"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                            {% else %}
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">{{ user.first_name }}</span><i class="fas fa-user shadow" style="font-size: 31px;font-weight: bold;text-align: center;border-radius: 23px;border-style: none;height: 36px;"></i></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in">
                                        <a class="dropdown-item" href="{% url 'login' %}"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Login</a>
                                    </div>
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>