{% extends 'base.html' %}
{% load static %}

{% block title %}Buy{% endblock %}

{% block body %}
    {% if messages %}
    <div>
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
            <span><strong>Message: {{ message }}</strong><br></span></div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <span><strong>Important: {{ message }}</strong><br></span></div>
        {% endif %}
        {% endfor %}
    </div>
{% endif %}

    <div class="container-fluid text-center">

    <h3 class="text-dark mb-2">Transaction Details</h3>
    <div class="row justify-content-center mb-2">
        <div class="col-lg-8">
            <div class="row">
                <div class="col text-left text-dark">

                    <div class="card shadow" style="margin-top: 20px;">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Transaction Information</p>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                    {% for key,value in response.items %}
                                         <strong>{{ key }}:{{ value }}</strong><hr>
                                    {% endfor %}
                                <a href="{% url 'home' %}" class="btn btn-primary" style="margin-top: 20px;">Return Home
                                    </a>
                            </div>
                        </div>
                    </div>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
{% endblock body %}