{% extends 'base.html' %}
{% load static %}
{% block title %} 404-Page Not Found {% endblock title %}
{% block body %}
<div class="content">
    <div class="text-center mt-5">
        <div class="error mx-auto" data-text="404 Page Not Found">
            <p class="m-0">404 Page Not Found</p>
        </div>
        <p class="text-dark mb-5 lead">Page Not Found</p>
        <p class="text-black-50 mb-0">It looks like you found a glitch in the matrix...</p><a href="/">← Back to
        Home</a>
    </div>
    </div>
{% endblock body %}