 </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span class="text-dark"
                                                                 style="font-size: 14px;font-style: normal;font-weight: bold;">Copyright © SAGAR 2021</span>
                </div>
            </div>
        </footer>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>