{% extends 'base.html' %}

{% block title %}
    Edit Address
{% endblock %}

{% block css %}

{% endblock %}

{% block body %}

<div class="container-fluid flex-wrap">
{% if messages %}
    <div>
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
            <span><strong>Message: {{ message }}</strong><br></span></div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <span><strong>Important: {{ message }}</strong><br></span></div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="container-fluid text-center">

    <h3 class="text-dark mb-2">Address</h3>
    <div class="row justify-content-center mb-2">
        <div class="col-lg-8">
            <div class="row">
                <div class="col text-left text-dark">
                            <button class="btn btn-primary my-2 mx-2" onclick="window.history.back()">Back</button>
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Edit Address</p>
                        </div>
                        <div class="card-body">
                            <form class="text-left text-dark" method="post" action="{% url 'edit_user_address' addrid %}">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label for="address_type"><strong>
                                            Address Type
                                            </strong></label>{{ form.address_type }}</div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group"><label for="detail_addr"><strong>
                                            Address
                                        </strong></label>{{ form.detail_addr }}</div>
                                    </div>
                                </div>
                                <div class="form-row" style="margin-top: 10px;">
                                    <div class="col">
                                        <div class="form-group">
                                            <button class="btn btn-outline-primary" type="submit">Edit Address</button>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <a href="{% url 'delete_user_address' addrid %}"></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
    {% endblock %}

