{% extends 'base.html' %}

{% block title %}
    Edit Account
{% endblock %}

{% block css %}

{% endblock %}

{% block body %}

<div class="container-fluid flex-wrap">
{% if messages %}
    <div>
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
            <span><strong>Message: {{ message }}</strong><br></span></div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <span><strong>Important: {{ message }}</strong><br></span></div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
<div class="container-fluid text-center">
    <h3 class="text-dark mb-2">Order For {{ order.product.name }}</h3>
    <div class="row justify-content-center mb-2">
        <div class="col-lg-8">
            <div class="row">
                <div class="col text-left text-dark">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold"><a class="btn btn-primary mr-2" href="{% url 'user_orders' %}">Back</a>Order Details</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 my-3">
                                    <strong>Order Id: </strong> #{{ order.id }}
                                </div>
                                <div class="col-12 my-3">
                                    <strong>Order For: </strong> {{ order.product.name }}
                                </div>
                                <div class="col-12 my-3">
                                    <strong>Order On: </strong> {{ order.date }}
                                </div>
                                <div class="col-12 my-3">
                                    <strong>Order Amount: </strong>Rs. {{ order.product.price }}
                                </div>
                                <div class="col-12 my-3">
                                    <strong>Order Status: </strong> {{ order.status|yesno }}
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    {% endblock %}

